<html>
    <head>
        <meta charset="UTF-8">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="latenitetech.css" rel="stylesheet">
    </head>

    <body>
        <div id="mainContainer" class="container-fluid">
            <nav class="navbar navbar-light">
                <a class="navbar-brand" href="#">LateNiteTech</a>
                <button class="btn btn-outline-dark my-2 my-sm-0 mr-auto">New Post</button>
                <button class="btn btn-outline-dark my-2 my-sm-0">Logout</button>
            </nav>
            
            <div id="mainRow" class="row no-gutters">
                <div class="col-3">
                    <div class="mr-2 box">
                        <div class="sidebarContent">
                            <p>- 2019 (7 posts)
                                <ul>
                                    <li>
                                        2019-06-12 Hello world2
                                    </li>
                                    <li>
                                        2019-04-10 Hello world
                                    </li>
                                </ul>
                            </p>
 
                            <p>+ 2018 (12 posts)</p>
                            <p>+ 2017 (10 posts)</p>
                            <p>+ DRAFTS</p>
                        </div>
                    </div>
                </div>

                <div class="col-9 box">
                    <div class="mainContent">
                        <div class="row no-gutters">
                            <div id="mainHeaderRow" class="col">
                                <p id="blogPostTitle">Date - <input type="text" value="Topic"></p>
                            </div>
                        </div>

                        <div id="mainBlogPost" class="row no-gutters">
                            <textarea id="editor" style="width: 100%">Blog post here</textarea>
                        </div>

                        <div id="mainButtons" class="row no-gutters">
                            <a href="index.html" class="btn btn-outline-dark my-2 my-sm-0 mr-auto">Save</a>
                            <button class="btn btn-outline-dark my-2 my-sm-0">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </body>
</html>