.navbar-brand {
    text-shadow: 10px 10px 5px grey;
}

.navbar {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}

.container-fluid {
    padding: 5px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.btn {
    box-shadow: 10px 10px 5px grey;
}

#mainContainer {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#mainRow {
    flex-grow : 1;
}

.box {
    border: 5px solid black;
    height: 100%;
    box-shadow: 10px 10px 5px grey;
}

.sidebarContent {
    padding: 5px;
    font-size: 12px;
}

.mainContent {
    padding: 10px;
    padding-right: 15px;
    height: 100%;
    display: flex;
    flex-flow: column;
    padding-bottom: 15px;
}

#blogPostTitle {
    font-size: 25px;
}

#mainBlogPost {
    display: flex;
    flex-grow: 1;
    padding-bottom: 10px;
}