.navbar-brand {
    font-size: 35px;
    text-shadow: 10px 10px 5px grey;
}

.navbar {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}

.container-fluid {
    padding: 5px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.btn {
    box-shadow: 10px 10px 5px grey;
}

#mainContainer {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#mainRow {
    flex-grow : 1;
}

.box {
    border: 5px solid black;
    height: 100%;
    box-shadow: 10px 10px 5px grey;
}

.sidebarContent {
    padding: 5px;
    font-size: 12px;
}

.mainContent {
    padding: 10px;
    padding-right: 15px;
    height: 100%;
    display: flex;
    flex-flow: column;
    padding-bottom: 15px;
}

#blogPostTitle {
    font-size: 25px;
}

#mainBlogPost {
    display: flex;
    flex-grow: 1;
    padding-bottom: 10px;
}

#mainHeaderRow {
    margin-bottom: 2px;
}

/* MD editor */
code {
    color: #f66;
}

textarea, #editor div {
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 20px;
}

textarea {
    border: none;
    border-right: 1px solid #ccc;
    resize: none;
    outline: none;
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
    padding: 20px;
  }

.icon {
    width: 20px;
}

